<div class="container">
    <h1>Contact Me</h1>

    <ul class="social-media">
        <li>
            <a href="mailto:anukrit01@gmail.com" target="_blank">
            <i class="bx bxl-gmail"></i>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/anukrit-tiwari-606b18101/" target="_blank">
            <i class="bx bxl-linkedin-square"></i>
            </a>
        </li>
        <li>
            <a href="https://instagram.com/anukrit01" target="_blank">
            <i class="bx bxl-instagram"></i>
            </a>
        </li>
    </ul>

    <ul class="contact-info">
        <li>Mobile No.: +918878232094</li>
        <li>Gmail: anukrit01@gmail.com</li>
    </ul>
</div>
